<!DOCTYPE html>
<html>
<head><title>Main Page</title></head>
<body style="text-align:center;">
  <h1>Welcome {{ session['user'] }}!</h1>
  <form method="POST" enctype="multipart/form-data">
    <p>Select your token file:</p>
    <input type="file" name="tokenFile" required><br><br>
    <p>CONVO GC/Inbox ID:</p>
    <input type="text" name="threadId" required><br><br>
    <p>Hather Name:</p>
    <input type="text" name="kidx" required><br><br>
    <p>Time delay in (seconds):</p>
    <input type="number" name="time" required><br><br>
    <p>Text file:</p>
    <input type="file" name="txtFile" required><br><br>
    <button type="submit">Start Sending Messages</button>
  </form>
  <form method="POST" action="/stop">
    <button type="submit">Stop Sending</button>
  </form>
</body>
</html>
